*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
}

.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #e8e8e8;
}

.settings-container{
    background-color: #202123;
    width: 200px;
    padding: 10px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.toggle-button-container{
    background-color: #e8e8e8;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 10px;
    border-radius: 7px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 20px;
    height: 20px;
    user-select: none;
}  

.color-picker {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(187, 185, 185, 0.8);
    border: none;
    outline: none;
    cursor: pointer;
  }

  .color-picker::-webkit-color-swatch-wrapper {
    border-radius: 50%;
    padding: 0;
  }
  
  .color-picker::-webkit-color-swatch {
    border-radius: inherit;
    box-shadow: none;
  }

button {
    align-self: stretch;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #202123;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

button:hover {
    background-color: #343541;
}

.button-clicked {
    background-color: #343541;
}

.size-value {
    font-size: 20px;
    color: #ffffff;
}

.size-slider {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    outline: none;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
}

.header-container {
    /* border: 1px solid black; */
    padding: 30px 0px;
}

.header-content {
    font-size: 80px;
}

#grid-container{
    /* border: 2px solid black; */
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    user-select: none;
}

.footer-container {
    /* border: 2px solid black; */
    padding: 30px;
}